.table-head-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cars-table {
  padding-right: 15%;
  padding-left: 15%;
}

mat-cell {
  padding: 0;
}

mat-form-field,
form {
  padding-top: 0;
}

.add-button {
  flex-shrink: 0;
  flex-grow: 0;
}
