<h1 matDialogTitle class="popUp">Battery Replacement</h1>

<form [formGroup]="batteryReplacementForm" novalidate (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="flex-row">
      <mat-form-field>
          <input matInput #dateTimePicker [matDatepicker]="picker" placeholder="Replacement Date" formControlName="dateTime" appMaskDate>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="batteryReplacementForm.controls['dateTime'].hasError('required')">
                Correct replacement date is required
            </mat-error>
            <mat-error *ngIf="batteryReplacementForm.controls['dateTime'].hasError('invalid')">
                Date format should be 'MM/DD/YYYY'.
            </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="popUp">
    <span class="spacer"></span>
    <button mat-button [matDialogClose]="null" type="button">Отмена</button>
    <button mat-button class="mat-raised-button mat-primary" type="submit">Save</button>
  </mat-dialog-actions>
</form>