.icon {
  padding: 0 14px;
}

.mat-sidenav-container{
  height: calc(100vh - 64px);
}

.full-mat-sidenav-container{
  height: 100vh;
}

.app-sidenav{
  width: 250px;

}

.top-menu-buttons {
  margin-left: 98px;
}

.header-font{
  color: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 36px;
}

mat-toolbar {
  border-bottom: 1px white solid;
}

.tabs {
  padding-top: 20px;
}